@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-select-selection-item {
    font-size: 16px;
}

input {
    outline: none;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-80%);
    }
}

.logos-slide {
    animation: 15s slide infinite linear;
    overflow: hidden;
    display: inline-flex;
}

.logos {
    white-space: nowrap;
    overflow: hidden;
}
